 <div class ="home-total">
    <div class ="header-home">
      <img src="https://res.cloudinary.com/mon-site/image/upload/v1658009717/Header_home_page_wstmgk.jpg" />
      <div class="card-trip">
      <img src="https://res.cloudinary.com/mon-site/image/upload/v1658004845/locataire_emghoh.jpg" />
      <a class="btn btn-flat" href="#"><h1>Locataire</h1></a>
          <div class="card-trip2">
          <img src="https://res.cloudinary.com/mon-site/image/upload/v1658010721/pro_immo1_xgli8s.jpg" />
          <a class="btn btn-flat2" href="#"><h1>professionnel de l'Immobilier</h1></a>


          </div>
      </div>
    </div>
  </div>
